@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    @font-face {
        font-family: "vazir-Light";
        src: url("../fonts/vasir/Vazirmatn-Light.woff2");
    }
    @font-face {
        font-family: "vazir-Regular";
        src: url('../fonts/vasir/Vazirmatn-Regular.woff2');
    }
    @font-face {
        font-family: "vazir-Medium";
        src: url('../fonts/vasir/Vazirmatn-Medium.woff2');
    }
    @font-face {
        font-family: "vazir-Bold";
        src: url('../fonts/vasir/Vazirmatn-Bold.woff2');
    }
    @font-face {
        font-family: "vazir-ExtraBold";
        src: url(../fonts/vasir/Vazirmatn-ExtraBold.woff2);
    }
}

@layer components{
    .invisible{
        display: none;
    }
    .visitable{
        display: block;
    }

    .ourService__icon-hover{
        top: 5rem;
        right: 50rem;
    }

    textarea{
        resize: none;
    }

    
}




.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }